<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Us</title>

    <!--bootstrap-->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- Warning: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3,7.2/html5shiv.min.js"></script>
        <script src="htpps://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <thead>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="home.html">FURNITURE</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="home.html">Home</a></li>
                        <li><a runat="server" href="aboutus.html">About Us</a></li>
                        <li><a runat="server" href="contactus.html">Contact Us</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a runat="server" href="register.html">Register</a></li>
                        <li><a runat="server" href="login.html">Log in</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </thead>

	<tbody>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4">

                    <!--<div class="jumbotron jumbotron-sm">-->
                    <div class="container">

                        <div class="row">
                            <div class="col-md-9 col-sm-12">
                                <h3 class="h3"><strong> ABOUT US </strong></h3>
                                <hr class="colorgraph colorgraph-footer"><br><br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <!--<div class="well well-sm">-->
                                <form>
                                    <h4><strong><span class="glyphicon glyphicon-briefcase"></span> About Us</strong></h4>
                                    <!--<hr class="colorgraph colorgraph">--><hr>
                                    <a>Since 1964, England has been building quality upholstered furniture in the foothills of East Tennessee. England was co-founded by Charles, Eugene, and Dwight England whose goal was to provide employment to the people of Appalachia</a>
                                </form>
                                <!--</div>-->
                            </div>

                            <div class="col-md-3 col-sm-12">
                                <form>
                                    <h4><span class="glyphicon glyphicon-home"></span><strong> Reach Out to Us</strong></h4>
                                    
                                    <!--<hr class="colorgraph">--><hr>
                                    <address>
                                        <span class="glyphicon glyphicon-phone"></span> 9477522691, 9475484561
                                    </address>
                                    <address>
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        <a href="mailto:#">contact@xeqt.in</a>
                                    </address>
                                </form>
                                <hr />

                                <form>
                                    <h4><a runat="server" href="contactus.html"><span class="glyphicon glyphicon-envelope"></span><strong> Contact to Us</strong></a></h4>
                                </form>
                            </div>
                            <!--</div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
	</tbody>

    <!--style sheet-->
    <link href="../css/aboutus.css" rel="stylesheet" />
    <!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--Include all compiled plugins(below), or include individual files as needed-->
    <script src="../script/bootstrap.min.js"></script>
</body>

</html>
